@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import "./popup.css";
@import "./scroll.css";

html {
  text-align: center;
  font-size: 62.5%;
  background-color: #222;
  font-family: "Roboto", sans-serif;
}

.wordsTable {
  width: 80%;
  margin: 2rem auto;
  background-color: #ddd;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
}
.tableTitle,
.tableItem {
  height: 6rem;
  text-align: center;
  font-size: 3rem;
  line-height: 6rem
}
#tableItems {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.tableItem {
  background-color: #899fd8;
}
.tableItem:nth-of-type(2n) {
  background-color: #3a4561;
  color: #eee
}

#playersTable {
  display: inline-block;
  background-color: green;
  margin: 3rem auto;
  border-radius: 2rem;
  overflow: hidden;
}
.stepRow, .playerRow {
  height: 4rem;
  padding: 0 1rem;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  line-height: 4rem;
  font-size: 2rem;
}
.stepRow {
  background-color: #bbb;
}
.playerRow {
  border-top: 1px solid #222;
  border-top: 1px solid #222;
  background-color: #444;
  color: #eee;
}